.footer{
    background: #003579;
    color:white;
    margin-top: 40px;
}

.footer-container{
    max-width: 1200px;
    padding: 10px 40px;
    display: grid;
}

.footer-container h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-container h2 span{
    color: #6FE510;
}

.footer-container p{
    font-size: 14px;
    color: #a8b0a8;
}