* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #003579;
    color:white;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

.header-top{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 48px;
}

.logo-image{
    width: 80px;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo h1 {
    font-size: 30px;
    font-weight: 700;
}

.logo span {
    color: #6FE510;
}

.navbar {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding: 16px 48px;
}
.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}
.navbar li{
 color: #a8b0a8;
 font-size: 12px;
 font-weight: 600;
 cursor: pointer;
 transition: 0.1s;
}

.navbar li:hover {
    color: #6FE510;
}