body{
    background: #eef2e7;
}
.news-layout{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    padding: 40px;
    align-items: start;
}

.trending-news{
    margin-top: 40px;
    border-left: 1px solid #d7ddd0;
    padding-left: 30px;
    position: sticky;
    top: 20px;
}
.trending-news h2 {
    font-size: 20px;
    color: #a8b0a8;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.latest-news h2{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    color:#a8b0a8;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;
}

.news-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:60px;
}

